.DS_Store
Thumbs.db
*.bak
.idea
*.pyc
*.log
.git
.sonar
.project
.settings
**/target/
.classpath
fab-deploy-qa.pyc
generatorConfig.xml
/bin/
.buildpath
.springBeans
.pydevproject
zaozuo-web.iml
/target/
/deploy
/logs/
src/main/resources/log4j2.xml
src/main/resources/log4j2.xml
